---
import Layout from "../pages/layouts/layout.astro";
import Footer from '../pages/components/Footer/Footer.astro';

---

<Layout title="Internify">
	<main class="mt-16 scroll-mt-36" id="home">
		<Footer/>
	</main>
</Layout>