---
const {pathname} = Astro.url;
const year= new Date().getFullYear();

---
<footer class="grid grid-cols-none mt-28 scroll-m-36 md:justify-center sm:justify-center xl:justify-center xl:mt-flow-root sticky bottom">

 <div class="grid justify-center mt-28 scroll-m-36">
        ULA
    </div>
 <div class="flex justify-center md:justify-center sm:justify-center xl:justify-center gap-4 mt-4">
        <small class="text-center text-xs">
            &copy; 2025 Crafted with ♥️ using <a
            href="https://astro.build/"
            target="_blank"
            class="text-red-500">Astro</a> by
            <a class="footer__link" href="https://github.com/Granpiecito"> JeanDev</a>.
        </small>
    </div>
</footer>